@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  @layer utilities {
    .padding {
      @apply sm:px-16 px-8 sm:py-24 py-12 ;
    }
  
    .padding-x {
      @apply sm:px-16 px-8;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-24 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    }
    .btn-component {
      @apply bg-blue-600 rounded-md text-white px-3 py-2 hover:bg-blue-700 shadow-lg
    }
    .btn-query {
      @apply max-sm:mt-5 max-sm:py-1 max-sm:px-2 max-sm:text-[10px]
    }
    .xl-monitor {
      @apply 2xl:mx-96
    }
    .pad-rem{
      @apply max-md:!py-0
    }
  }